.memory-game-wrapper {
  width: fit-content;
  gap: 1rem;

  margin: 1.5rem auto;

  .card {
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: 1px solid black;
    cursor: pointer;

    font-size: 2rem;

    border-radius: 1rem;
  }

  .card-flipped {
    outline: 5px solid green;
  }
}
